################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.pdb
*.user
.svn/
.vs/
bin/*.xml
obj/
packages/
unpublished.*
/lib/ki/
/Web.config
