################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
unpublished.config
/.svn
/.vs
/bin/*.dll.config
/bin/*.xml
/lib/ki/*.dll
/lib/ki/*.dll.config
/lib/ki/*.xml
/obj
/packages
/Web.config
