<?xml version="1.0" encoding="utf-8"?>
<!-- $Id -->
<configuration>
  <appSettings file="unpublished.config">
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!---->
    <add key="application_name" value="p4o_d" />
    <add key="email_blockquote_maxcol" value="60" />
    <add key="failsafe_recipient_email_address" value="kevinandrewlipscomb@mailworks.org" />
    <add key="scratch_folder" value="scratch" />
    <add key="sender_email_address" value="&quot;p4o_d&quot; &lt;p4o_d@frompaper2web.com&gt;" />
    <add key="sponsor" value="Portsmouth Police Department" />
    <add key="shared_secret_description" value="registration code" />
    <add key="sysadmin_sms_address" value="short-message-service@frompaper2web.com" />
    <add key="temp_password_len" value="8" />
    <!-- The following appSettings are likely host-dependent. -->
    <add key="host_domain_name" value="frompaper2web.com" />
    <add key="ssl_base_path" value="sslws038.alentus.com/frompaper2web" />
    <add key="virtual_directory_name" value="p4o" />
    <!-- For production use: <add key="smtp_server" value="smtp.frompaper2web.com" /> -->
    <add key="smtp_server" value="localhost" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!---->
      <!-- The following mailSettings are for the DEVELOPMENT environment ONLY.  Remember to grant write access to this directory to the aplication pool account (ie, "ASP.NET v4.0") -->
      <!---->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Queue" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime targetFramework="4.6.1" />
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application.
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.1" />
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running
          on the local Web server. This setting is recommended for security purposes, so
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms",
          "Passport" and "None"
    -->
    <authentication mode="Forms">
      <forms name="p4o_d" loginUrl="login.aspx" timeout="720" />
    </authentication>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application.
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the
          application trace log by browsing the "trace.axd" page from your web application
          root.
    -->
    <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session.
          If cookies are not available, a session can be tracked by adding a session identifier to the URL.
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="60" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application.
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maxPageStateFieldLength="512">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a 
           custom converter -->
        <!--
        <jsonSerialization maxJsonLength="500">
          <converters>
            <add name="ConvertMe" 
               type="Acme.SubAcme.ConvertMeTypeConverter"/>
          </converters>
        </jsonSerialization>
        -->
        <!-- Uncomment this line to enable the authentication service. 
             Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
        -->
        <!-- Uncomment these lines to enable the profile service. To 
             allow profile properties to be retrieved
             and modified in ASP.NET AJAX applications, you need to add 
             each property name to the readAccessProperties and
             writeAccessProperties attributes. -->
        <!--
        <profileService enabled="true"
          readAccessProperties="propertyname1,propertyname2"
          writeAccessProperties="propertyname1,propertyname2" />
        -->
      </webServices>
      <!-- 
      <scriptResourceHandler enableCompression="true" 
          enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.3.0" newVersion="3.12.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>